---
import Layout from '../layouts/Layout.astro';
//import GetProducts from '../components/Get-Products.astro';
---

<Layout title="Contacto">
	<main>
		parte de contacto
		<!-- <GetProducts /> -->
	</main>
</Layout>