---
import Layout from '../layouts/Layout.astro';
import Portada from '../components/inndex/Portada.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div>
			<Portada />
		</div>
		pagina principal
		
	</main>
</Layout>

<style>

</style>
