---
---
<div>
    <div class="suport">
        <i class="fa-solid fa-headset"></i>
        <div class="text-suport">
            <h4>Soporte al cliente</h4>
            <h5>51+ 999 999 99</h5>
        </div>
    </div>
    <div class="logo">
        
    </div>

</div>
<div>
    <ul>
        <li>
            <a href="">
                <spam>Inicio</spam>
            </a>
        </li>
        <li>
            <a href="">
                <spam>Sevicios</spam>
            </a>
        </li>
        <li>
            <a href="">
                <spam>Platillos</spam>
            </a>
        </li>
        <li>
            <a href="">
                <spam>Contacto</spam>
            </a>
        </li>
    </ul>

    <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Buscar..." required>
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
      
</div>
