---
import Layout from '../../layouts/Layout.astro';
//import FormPost from '../../components/prueva/FormPost.astro';
import Cloudinary from '../../components/Cloudinary.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<div>
            <!-- <FormPost /> -->
			<!-- <FormImage /> -->
            pagina de administrador
			<Cloudinary />
		</div>
	</main>
</Layout>
